// MAIN STYLE 
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.apps {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__block {
    margin: 0 !important;
    width: calc(50% - 5px);
    height: auto;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
    
    span {
      font-size: 40px;
    }

    h3 {
      border-bottom: 2px solid transparent;
      transition: 0.3s;
    }

    h3:hover {
      border-bottom: 2px solid white;
    }
  }
}

.input-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: auto;
    margin-right: 50px;

    input {
      width: 80%;
      background-color: transparent;
      border: 1px solid transparent;
      transition: 0.3s;
      color: white;
      font-size: 18px;
      font-weight: 500;
    }

    input:hover {
      border: 1px solid grey;
    }

    input::placeholder {
      color: grey;
    }
  }
}

span.tag {
  background-color: black;
  color: white;
  margin: 2px;
}

@media screen and (max-width: 650px) {
  .apps {
    flex-direction: column;

    &__block {
      width: 100%;
      margin-bottom: 20px !important;
    }
  }

  .input-items {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}