// GAME COLORS:
$violet: rgb(255, 94, 247);
$purple: rgb(163, 0, 163);
$cyan: rgb(1, 218, 218);
$blue: rgb(83, 83, 228);

// MAIN STYLE
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.apps {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__block {
    margin: 0 !important;
    width: calc(50% - 5px);
    height: auto;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
    
    span {
      font-size: 40px;
    }

    h4 {
      border-bottom: 2px solid transparent;
      transition: 0.3s;
    }

    h4:hover {
      border-bottom: 2px solid white;
    }
  }
}

.input-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-right: 50px;

    input {
      width: 80%;
      background-color: transparent;
      border: 1px solid transparent;
      transition: 0.3s;
      color: white;
      font-size: 18px;
      font-weight: 500;
    }

    input:hover {
      border: 1px solid grey;
    }

    input::placeholder {
      color: grey;
    }
  }
}

span.tag {
  background-color: black;
  color: white;
  margin: 2px;
}

.game {
  margin-top: 60px;
  font-family: 'Press Start 2P', cursive;
  
  h1 {
    color: $cyan;
    text-shadow: 2px 0 0 $violet,
                0px 2px 0 $purple,
  }

  &__menu {
    text-align: center;

    &__item span {
      font-size: 25px;
      color: grey;

      &:hover {
        color: $cyan;
        cursor: pointer;
        text-shadow: 2px 0 0 $blue,
                0 2px 0 $blue,
      }

      &.active {
        color: $blue;
        text-shadow: 2px 0 0 white,
                0 2px 0 white,
      }
    }
  }

  &__section {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .reset-button, .game-results {
      width: 100% !important;
      text-align: center !important;
      margin-bottom: 20px;
    }

    &__player {
      margin: 0 auto;
      width: 100%;
      text-align: center;

      div.images {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;

        .image {
          width: 30%;
        }

        div.alert {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 0, 0, 0.5);
          color: yellow;
          font-weight: 700;
          font-size: 16px;
    
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 0 0 $blue,
                    0 2px 0 $blue,
          }
        }
      }
    }

    &__player_human {
      .image {
        width: 30%;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
        }

        .itemSelected {
          transform: scale(1.2);
        }
      }
    }
  }
}

.countdown {
  font-size: 50px;
  width: max-content;
  margin: 0 auto;
  margin-top: 80px;
}

#confettiCanvas {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 1;
  z-index: 1000;
}

@media screen and (max-width: 650px) {
  .apps {
    flex-direction: column;

    &__block {
      width: 100%;
      margin-bottom: 20px !important;
    }
  }

  .input-items {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .game__section {
    flex-direction: column;

    &__player {
      width: 100% !important;
    }

    .countdown {
      margin: 30px auto;
    }
  }
}